@import "compass/reset";

#container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
*, *:after, *:before{
  box-sizing: border-box;
}

#wrapper{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12%;
  margin-top: -12%;
  height: 25%;
  width: 25%;
  text-align: center;
  padding: 24px;
  font-size: 50px;
}

#dico{
  display: block;
  margin-bottom: 20px;
}

.char{
  margin-bottom: 20px;
}

@media screen and (max-width: 1240px){

}

@media screen and (max-width: 970px){
  #wrapper{
    width: 100%;
    left:0;
    top: 0;
    margin: 0;
    padding: 16px;
  }

  #dico{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 760px){

}

@media screen and (-webkit-min-device-pixel-ratio: 2){

}
