<link rel="stylesheet" href="/css/index.css">

<section id="container">
  <div id="wrapper">
    <a id="dico" href="javascript:void(0);"></a>
    <div id="jp" class="char"></div>
    <div id="fr" class="char"></div>
  </div>
</section>

<script type="text/javascript" src="/js/index.js"></script>
